# Data Preprocessing of the Movie Dataset

In [3]:
import pandas as pd
import numpy as np

### Data input

In [11]:
df_ratings = pd.read_csv('ratings.csv', low_memory=False)

In [12]:
df_ratings.head(2)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435

In [86]:
df_movies = pd.read_csv('movies_metadata.csv', low_memory=False)

In [15]:
df_movies.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [37]:
df_credits = pd.read_csv('credits.csv', low_memory=False)

In [28]:
df_credits.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

### Dataset Merging and Cleaning

In [16]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [23]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [29]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [25]:
df_movies.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [26]:
for i in df_movies.columns:
    null_rate = df_movies[i].isna().sum() / len(df_movies) * 100 
    print(f"{i}'s null rate : {null_rate}%")

adult's null rate : 0.0%
belongs_to_collection's null rate : 90.11569084590683%
budget's null rate : 0.0%
genres's null rate : 0.0%
homepage's null rate : 82.88391325386003%
id's null rate : 0.0%
imdb_id's null rate : 0.03739057757445124%
original_language's null rate : 0.024193903136409626%
original_title's null rate : 0.0%
overview's null rate : 2.0982712356486166%
popularity's null rate : 0.010997228698368012%
poster_path's null rate : 0.8489860555140104%
production_companies's null rate : 0.006598337219020807%
production_countries's null rate : 0.006598337219020807%
release_date's null rate : 0.19135177935160338%
revenue's null rate : 0.013196674438041614%
runtime's null rate : 0.5784542295341575%
spoken_languages's null rate : 0.013196674438041614%
status's null rate : 0.19135177935160338%
tagline's null rate : 55.10491356178243%
title's null rate : 0.013196674438041614%
video's null rate : 0.013196674438041614%
vote_average's null rate : 0.013196674438041614%
vote_count's null rate : 0.013196674438041614%

In [39]:
df_credits.columns = ['id','cast','crew']

In [42]:
df_ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

Thus, the df_ratings dataset has no null values.

In [43]:
df_ratings['timestamp'].min()

789652004

In [44]:
df_ratings['timestamp'].max()

1501829870

In [87]:
rows = df_movies[df_movies['id'] == '1997-08-20']
rows

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ã˜rnÃ¥s,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
# since we found that some values are in the format of 'xxxx-xx-xx' and all of them have NaN as vote
# Thus, we decided to delete those values
df_movies.loc[df_movies['id'].str.contains(r'\d{4}-\d{2}-\d{2}')] = np.nan

In [89]:
df_movies.dropna(subset=['id'], inplace=True)

In [90]:
df_movies['id'].astype('int64')

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 45463, dtype: int64

In [63]:
df_movies['id'].dtype

dtype('O')

In [64]:
df_movies['id'] = pd.to_numeric(df_movies['id'], errors='coerce')

In [65]:
df_movies['id'].dtype

dtype('int64')

In [66]:
df_merged = pd.merge(df_movies, df_ratings, left_on='id', right_on='movieId')

In [68]:
df_merged.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,userId,movieId,rating,timestamp
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,1923,862,3.0,858335006
1,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,2103,862,5.0,946044912
2,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,5380,862,1.0,878941641
3,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,6177,862,4.0,859415226
4,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,6525,862,4.0,857388995

Thus in df_merged dataset, we merged the user's rating with the metadata for the movie.

In [70]:
df_merged['rating'].min()

0.5

In [71]:
df_merged['rating'].max()

5.0

In [72]:
df_merged['rating'].unique()

array([3. , 5. , 1. , 4. , 3.5, 4.5, 2. , 2.5, 1.5, 0.5])

We found that there is no value of 0 in our rating dataset. Thus the range for ratings should be 0.5 to 5.

Then, we decided to drop some columns that we are not focusing on for our merged dataset.

In [75]:
df = df_merged.drop(['revenue','belongs_to_collection','budget','homepage','poster_path','original_language','production_companies','spoken_languages','video'], axis = 1)

In [76]:
df.head(2)

,adult,genres,id,imdb_id,original_title,overview,popularity,production_countries,release_date,runtime,status,tagline,title,vote_average,vote_count,userId,movieId,rating,timestamp
0,False,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,Released,NaN,Toy Story,7.7,5415.0,1923,862,3.0,858335006
1,False,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,Released,NaN,Toy Story,7.7,5415.0,2103,862,5.0,946044912

In [77]:
df.isnull().sum()

adult                         0
genres                        0
id                            0
imdb_id                      47
original_title                0
overview                  40657
popularity                    0
production_countries          0
release_date               7033
runtime                    1039
status                      866
tagline                 3496738
title                         0
vote_average                  0
vote_count                    0
userId                        0
movieId                       0
rating                        0
timestamp                     0
dtype: int64

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11437637 entries, 0 to 11437636
Data columns (total 19 columns):
 #   Column                Dtype
---  ------                -----
 0   adult                 object
 1   genres                object
 2   id                    int64
 3   imdb_id               object
 4   original_title        object
 5   overview              object
 6   popularity            object
 7   production_countries  object
 8   release_date          object
 9   runtime               float64
 10  status                object
 11  tagline               object
 12  title                 object
 13  vote_average          float64
 14  vote_count            float64
 15  userId                int64
 16  movieId               int64
 17  rating                float64
 18  timestamp             int64
dtypes: float64(4), int64(4), object(11)
memory usage: 1.7+ GB

In [82]:
df.to_csv('cleaned_movie_data.csv')

However, we found that the merged dataset is too large with 7.3 GB. We decided to use the former dataset in our project, but in the future use, we can use the merged dataset.

# Before the merge

In [91]:
df_movies = df_movies.drop(['revenue','belongs_to_collection','budget','homepage','poster_path','original_language','production_companies','spoken_languages','video'], axis = 1)

In [92]:
df_movies.head(2)

,adult,genres,id,imdb_id,original_title,overview,popularity,production_countries,release_date,runtime,status,tagline,title,vote_average,vote_count
0,False,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,Released,NaN,Toy Story,7.7,5415.0
1,False,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0

In [93]:
df_movies.to_csv('cleaned_movie_dataset.csv')